.calendar {
    width: 210px;
    margin: 0 auto;
    position: static;
}

.tableList {
    column-count: 2;
    width: 90%;
    margin: 5% auto;
}

.table {
    position: static;
    /*border: 1px solid black;*/
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.table-image {
    position: static;
    background: url('/app/table-image.png') no-repeat center / contain;
    height: 180px;
}

h1 {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

h3 {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

