.jumbotron {
    /* remember to set a width */

    width:100%;
    height:100%;
    background-color: #FFFFFF;
}

.container {
    /* remember to set a width
    top:30%;
    background-color: #FFFFFF;
    width: 600px;
    height: 600px;
    margin: auto;
     margin-top: 10%;
    margin-bottom: 10px;  */

    height:800px;
/*
    background:#FFFFFF;
    position:fixed;
    left:50%;
    top:30%;
    margin-left:-250px;
    margin-top:-250px;

    border: 1px solid black; */
}

.image {
    /*
    position: static;
    margin: 0 auto;
    content:url(/app/trzmiel-login.png);
    width: 500px;
    height: 300px; */

    background: url('/app/trzmiel-login.png') no-repeat center / contain;
    height: 200px;
}​

/*
.window {
    margin-top: 1%;
    width: 400px;
}
*/