h1 {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

h3 {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

p-dataTable {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

li {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

.promotions-table {
    margin-top: 20px;
}
