h2 {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

label {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

button {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}

a {
    font-family: "Comic Sans MS", cursive, bold, sans-serif;
}